/* Created by Tivotal */

/* Google fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ecf0f3;
}

.sidebar {
  position: relative;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  padding: 12px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 7px #ceced1, inset -3px -3px 7px #fff,
    inset 3px 3px 7px #ceced1;
  transition: all 0.3s ease;
}

.sidebar .title {
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: #000;
  font-size: 27px;
  font-weight: 600;
}

.sidebar ul {
  margin-top: 30px;
}

.sidebar ul a {
  color: #000;
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 6px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 7px #ceced1;
  transition: all 0.3s ease;
  position: relative;
}

.sidebar ul a:hover {
  color: #3498db;
}

.sidebar ul a i {
  margin-right: 10px;
}

.sidebar ul a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #ceced1;
  border-radius: 6px;
}

.socials {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.socials a {
  position: relative;
  margin: 0 4px;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 7px #ceced1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.socials a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #ceced1;
  border-radius: 50%;
}

.socials a:nth-child(1) {
  color: #3498db;
}

.socials a:nth-child(2) {
  color: #1da1f2;
}

.socials a:nth-child(3) {
  color: #e1306c;
}

.socials a:nth-child(4) {
  color: #ff0000;
}

input {
  display: none;
}

.btn {
  font-size: 17px;
  color: #000;
  box-shadow: -3px -3px 7px #fff, 3px 3px 7px #ceced1;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
  position: relative;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 7px #ceced1;
  border-radius: 50%;
}

.menu {
  position: absolute;
  left: 20px;
  top: 20px;
}

input:checked ~ .sidebar {
  left: 0;
}

input:checked ~ .menu {
  display: none;
}
